.filter{
    display: flex;
    flex: 0 0 232px;
    background: #F9F9FA;
    border: 1px solid #E8E8E8;
    padding: 30px 20px 70px 20px;
    height: 100%;
    @media (max-width: 875px) {
        display: none;
    }
    &-container {
        max-width: 216px;
    }
    &-view{
        position: relative;
        &::after{
            display: block;
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #E8E8E8;
        }
    }
    &-slider{
        position: relative;
        padding-bottom: 30px;
        &::after{
            display: block;
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #E8E8E8;
        }
        & form {
            display: flex;
        }
        &__input-left,
        &__input-right {
            position: relative;
            & span {
                position: absolute;
                top: 10px;
                right: 100px;
            }
        }
        &__input {
            width: 92px;
            margin-right: 32px;
            background: #FFFFFF;
            border: 1px solid #CACCCF;
            border-radius: 2px;
            padding: 8px 0 8px 29px;
        }
        &__price{
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px; 
            cursor: pointer;   
            & span {
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                color: #25282B;
            }
        }
    }
    &__button{
        display: flex;
        flex-direction: column;
        &-show {
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            color: #E93C3C;
            padding: 17px 48px;
            background: inherit;
            border: 2px solid #E93C3C;
            border-radius: 2px;
            &:hover {
                background: #E93C3C;
                color: #FFFFFF;
            }
        }
        &-clear{
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            color: #E93C3C;
            padding: 17px 48px;
            background: inherit;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    &-checkbox{
        font-family: 'Arial';
        padding-bottom: 15px;
        & form {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            & label {
                line-height: 20px;
                color: #52575C;
                &:hover{
                    color:#E93C3C;
                    cursor: pointer;
                }
            }
        }
        &_custom {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        &_custom+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
          }
        &_custom+label::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 12px;
            background: #FFFFFF;
            border: 1px solid #E8E8E8;
            border-radius: 2px;

        }
        &_custom:checked+label::before {
            border-color: #E93C3C;
            background: #E93C3C;
            background-image: url(../img/check.svg);
            background-repeat: no-repeat;
            background-position: center center;
          }

    }
}

.filter.\show-filter {
    display: flex;
    position: absolute;
    z-index: 10;
    left:0 ;
    top: 0;
}

.range-slider {
    margin-top: 20px;
}
// .range {
//     position: relative;
//     top: -14px;
// }
input[type="range"]{
    background: #FF6262;
    width: 100%;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    background: #FFFFFF;
    box-shadow: 15px 15px 12px rgba(37, 40, 43, 0.2);
    transform: scale(1);
    margin-top: -8px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    overflow: visible;
    appearance: none;
    -webkit-appearance: none;
    border: 4px solid #FF6262;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    background: #FF6262;
    border-radius: 4px ;
    cursor: pointer;
    -webkit-appearance: none;
}

