.header {
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 550px) {
            display: none;
        }
        &__choose{
            font-size: 12px;
            line-height: 16px;
            color: #828282;
            @media (max-width: 1000px) {
                display: none;
            }
            & a {
                font-weight: 500;
                line-height: 16px;
                color: #E93C3C;
                border-bottom: 1px dashed #EB4747;
                &:hover {
                    border-bottom: 1px solid #EB4747; 
                }
            }
            &-city{
                display: flex;
                & img {
                    margin-right: 4px;
                }
            }
        }
        &__phone-block{
            display: flex;
            flex-direction: column;
            @media (max-width: 850px) {
                display: none;
            }
            & span:first-child {
                font-size: 12px;
                line-height: 16px;
                color: #828282;
            }
            & span:nth-child(2) {
                font-weight: 700;
                line-height: 16px;
                color: #25282B;
            }
            & span:last-child {
                & a {
                    font-size: 12px;
                    line-height: 16px;
                    color: #FF6262;
                }
            }
        }
        &__input{
            position: relative;
            &-search{
                background: #F9F9FA;
                border: 1px solid #CACCCF;
                border-radius: 2px;
                width: 372px;
                padding: 9px 50px 9px 14px;
                &::-webkit-input-placeholder{
                    font-size: 16px;
                    line-height: 16px;
                    color: #828282;
                }
            }
            &-icon{
                position: absolute;
                top: 8px;
                right: 12px;
                cursor: pointer;
                background: inherit;
            }
        }
    }
    &-down {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__nav{
            display: flex;
            align-items: center;
            &-list{
                display: flex;
                line-height: 130%;
                @media (max-width: 1250px) {
                    display: none;
                }

                .header-down__nav-list_honest {
                    font-weight: 500;
                    line-height: 130%;
                    text-transform: uppercase;
                    color: #EB4747;
                }
                & a {
                    color: #828282;
                    padding: 15px 12px;
                    &:hover{
                        border-bottom: 2px solid #E93C3C;
                    }
                }
            }
            &-catalog{
                display: flex;
                &:hover{
                    opacity: 0.95;
                }
                padding-right: 20px;
                background: inherit;
                @media (max-width: 550px) {
                    padding-right: 0;
                }
                background: #EB4747;
                &-name {
                    font-weight: 500;
                    line-height: 16px;
                    color: #FFFFFF;
                    background: inherit;
                    @media (max-width: 550px) {
                        display: none;
                    }
                }
                &-burger {
                    padding: 13px 14px;
                    background: #EB4747;
                }
            }
        }
        &__sign {
            display: flex;
            align-items: center;
            & li {
                display: flex;
                align-items: center;
                margin-right: 15px;
                &:last-child{
                    margin: 0;
                    & a{
                        padding-left: 5px;
                        line-height: 16px;
                        color: #E93C3C;
                    }
                }
            }
        }
    }
}
.down-logo {
    width: 79px;
    height: 50px;
    display: none;
    @media (max-width: 550px) {
        display: block;
    }
}
.wrapper__header-down{
    background: #F2F2F2;
    @media (max-width: 550px) {
        background: #FFFFFF;
        box-shadow: 0px 2px 6px rgba(37, 40, 43, 0.15);
    }
}
.social-link a{
    margin-right: 7px;
    &:last-child {
        margin-right: 0;
    }
    @media (max-width: 1100px) {
        display: none;
    }
} 
.working-mode{
    font-size: 12px;
    line-height: 130%;
    color: #828282;
    @media (max-width: 1250px) {
        display: none;
    }
}