@import "fonts";
@import "nullstyle";
@import "footer";
@import "header";
html, body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 50px;
}
main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 1 auto;
}
//nav-page
.nav-page__shop {
    padding: 39px 50px 50px 50px;
    & ul {
        display: flex;
        align-items: center;
    }
    & li {
        margin-right: 6px;
        &:last-child {
            margin-right: 0;
        }
    }
    & a {
        line-height: 130%;
        color: #828282;
        &:hover {
            border-bottom: 1px solid #828282;
            opacity: 0.9;
        }
    }
}


//category
h1 {
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: start;
    color: #25282B;
    margin-bottom: 30px;
}
.category {
    margin-bottom: 2px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        & li {
            margin-right: 8px;
            padding: 8.5px 8px;
            background: #F9F9FA;
            border: 1px solid #CACCCF;
            border-radius: 2px;
            margin-bottom: 8px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &:hover{
                background: #E93C3C;
                border-radius: 2px;
                & a {
                    color: #FFFFFF;
                }
            }
        }
        & a {
            font-size: 12px;
            line-height: 14px;
            color: #52575C;
        }
        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            line-height: 16px;
            height: 34px;
            padding: 0 8px;
            color: #52575C;
            border-radius: 2px;
            background: #FFFFFF;
            border: 1px solid #E93C3C;
            &:hover {
                color: #E93C3C;
            }
        };
    }
}
// filter-price
.filter-price {
    text-align: end;
    margin-bottom: 20px;
    & li {
        line-height: 130%;
        color: #52575C;
        & a {
            color: #52575C;
            & img {
                padding-left: 8px;
            }
        }
    }
}