@import "fonts";
@import "nullstyle";
@import "footer";
@import "header";
@import "aside";
@import "size";
html, body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 50px;
    @media (max-width:550px) {
        padding: 0 10px;
    }
}
main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 1 auto;
}
//nav-page
.nav-page__shop {
    padding: 39px 50px 50px 50px;
    @media (max-width:550px) {
        display: none;
    }
    & ul {
        display: flex;
        align-items: center;
    }
    & li {
        margin-right: 6px;
        color: #828282;
        &:last-child {
            margin-right: 0;
        }
    }
    & a {
        line-height: 130%;
        color: #828282;
        &:hover {
            border-bottom: 1px solid #828282;
            opacity: 0.9;
        }
    }
}
//category
h1 {
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: start;
    color: #25282B;
    margin-bottom: 30px;
}

//
.category {
    margin-bottom: 2px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        &-hidden .active {
            display: none;
        }
        & li {
            margin-right: 8px;
            padding: 8.5px 8px;
            background: #F9F9FA;
            border: 1px solid #CACCCF;
            border-radius: 2px;
            margin-bottom: 8px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &:hover{
                background: #E93C3C;
                border-radius: 2px;
                & a {
                    color: #FFFFFF;
                }
            }
        }
        & a {
            font-size: 12px;
            line-height: 14px;
            color: #52575C;
        }
        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            line-height: 16px;
            height: 34px;
            padding: 0 8px;
            color: #52575C;
            border-radius: 2px;
            background: #FFFFFF;
            border: 1px solid #E93C3C;
            &:hover {
                color: #E93C3C;
            }
        };
    }
}
// filter-price
.filter-block{
    &__price {  
        position: relative;
        margin-bottom: 32px;
        & ul {
            position: absolute;
            top: 0;
            right: 45px;
            width: 187px;
            z-index: 2;
            background: #FFFFFF;
            &:hover{
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            }
            @media (max-width: 875px) {
                left: 45px;
            }
            @media (max-width: 550px) {
                left: 5px;
            }
        }
        & li {
            text-align: left;
            line-height: 130%;
            color: #52575C;
            padding: 6px 0 6px 11px;
            & a {
                color: #52575C;
                & img {
                    padding-left: 8px;
                }
            }
            &:hover {
                background: #007EFF;
                cursor: pointer;
                & a {
                    color: #FFFFFF;
                } 
            }
        }
    }
    &__filter{
        align-items: center;
        margin-bottom: 17px;
        display: none;
        @media (max-width: 875px) {
            display: block;
            float: right;
            margin-bottom: 32px;
        }
        & button {
            background: inherit;
        }
        & button {
            font-size: 16px;
            line-height: 130%;
            color: #25282B;
            margin-left: 10px;
        }
    }
}
//main
main{
    display: flex;
    justify-content: space-between;
}
//selling
.selling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    &-block {
        flex: 1 0 255px;
        padding: 20px 18px 23px 18px;
        border: 1px solid #E8E8E8;
        &:hover {
            box-shadow: 0px 0px 20px rgba(37, 40, 43, 0.2);
        }
        @media (max-width: 1000px) {
            flex: 1 0 300px;
        }
        &__body {
            display: flex;
            flex-direction: column;
            line-height: 130%;
            & p {
                color: #25282B;
                margin-bottom: 14px;
            }
            & span:first-child {
                color: #A0A4A8;
                margin: 24px 0 8px 0;
            }
            & span:nth-child(3) {
                font-size: 18px;
                color: #1A8BFF;
                margin-bottom: 2px;
            }
            & span:last-child {
                font-weight: 500;
                font-size: 18px;
                color: #E93C3C;
                margin-bottom: 20px;
            }
        }
        &__btn {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            line-height: 16px;
            color: #52575C;
            & button:first-child{
                background: inherit;
                padding: 10px 36.5px;
                border: 1px solid #A0A4A8;
                border-radius: 2px;
                &:hover {
                    background: #E93C3C;
                    color: #FFFFFF;
                }
            }
            & button:last-child{
                background: inherit;
                padding: 10px 20px;
                border: 1px solid #A0A4A8;
                border-radius: 2px;
                &:hover {
                    background: #E93C3C;
                }
            }
        }
    }
    &__show-more{
        display: flex;
        justify-content: center;
        flex: 1 1 100%;
        background: #F9F9FA;
        border: 1px solid #E8E8E8;
        cursor: pointer;
        & button {
            padding: 15px 0;
            font-size: 16px;
            line-height: 16px;
            color: #25282B;
            background: inherit;
        }
        &:active {
            box-shadow: 2px 2px #E8E8E8;
        }
    }
    &__pagination{
        padding: 30px 0 200px 0;
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
        font-size: 16px;
        line-height: 130%;
        color: #25282B;
        & span {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 0 5px;
            width: 24px;
            height: 24px;
            border-radius: 2px;
            cursor: pointer;
            &:nth-child(2) {
                background: #E93C3C;
                color: #FFFFFF;
            }
            &:nth-child(5) {
                color:#A0A4A8;
            }
            &:nth-child(6) {
                color:#E93C3C;
            }
            &:hover {
                background: #E93C3C;
                color: #FFFFFF; 
            }
        }
        & a:last-child{
            transform: rotate(180deg);
        }

    }
}  



